<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="./test.js"></script>
    <title>Document</title>
</head>
<body ng-controller="myController"> 
    <input type="text" ng-model="num">
    <p>Number is {{num}}</p>
    <div ng-show="num">JO</div>
    <div ng-model="t=['w','e']">
        <p ng-repeat="item in t">{{item}}</p>
    </div>
    {{ 5 + 5 }}
</body>
</html>