<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- angular min js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-app="Myapp">
    <div ng-controller="MainCtrl">
        {{message}}
    </div>

    <div ng-controller="CalcController">
        <p>Enter a number: <input type="number" ng-model="number" /></p>
        <button ng-click="square(number)">X<sup>2</sup></button>
        <button ng-click="cube(number)">X<sup>3</sup></button>
        <button ng-click="root(number)">&radic;X</button>
        <p>Result: {{result}}</p>
    </div>

    <div ng-controller="injectController">

        <h1> {{appName}} </h1>
    </div>

    <div ng-controller="injectController2">
        <h1>Version is {{appVersion}}</h1>
    </div>
</body>
<script src="./script.js"></script>

</html>