<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- angular min js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-app="Myapp">
    <div ng-controller="MainCtrl">
        {{message}}
    </div>
    <div>
        <label for="name">Enter the name</label>
        <input type="text" ng-model="name">
    </div>
    <br>
    <h1 ng-if="name">{{name | uppercase}}</h1>
    <h1 ng-if="name">{{name | lowercase}}</h1>

    <h1 ng-if="name">{{name | limitTo:3}}</h1>
    <h1 ng-if="name">{{name | limitTo:-3}}</h1>
    <h1 ng-if="name">{{name | limitTo:3:1}}</h1>

    <h1 ng-if="name">{{name | number}}</h1>
    <h1 ng-if="name">{{name | number:2}}</h1>

    <h1 ng-if="name">{{name | currency}}</h1>
    <h1 ng-if="name">{{name | currency:"Rs."}}</h1>

    <h1 ng-if="name">{{name | json}}</h1>

</body>
<script src="./script.js"></script>

</html>